#leftContent{
    width: 50%;
    height: 100%;
    float: left;
}

#rightContent{
    width: 50%;
    height: 100%;
    float: left;
}

#filtrar{
    width: 90%;
    height: 5%;
    margin-left: 5%;
    margin-top: 5%;

}

#view{
    width: 90%;
    height: 85%;
    margin-left: 5%;
    background-color: white;
    display: inline-block
}

#view1{
    width: 90%;
    height: 57%;
    margin-left: 5%;
    background-color: white;
    display: inline-block;
}

#filtrar > h3{
    float: left;
}

#filtrar > select{
    float: left;
    margin-left: 1%;
    margin-top: 0.2%;
}


#view1 > h2{
    margin-top: 4%;
    margin-left: 2%;
}

#filtrar > h2{
    text-align: center;
}

.form-group > input{
    width: 96%;
    margin-left: 2%;
    margin-top: 2%;
}

label{
    margin-left: 2%;
    margin-top: 2%;
}

.btn{
    width: 50%;
    margin-top: 1%;
    margin-left: 25%;
}

#buttonCadeira{
    width: 80%;
    font-size: 23px;
    margin-left: 0%;
    color: white;
    margin-top: 8%;
}

#theCadeira{
    width: 90%;
    height: 25%;
    margin-left: 5%;
    margin-top: 3%;
    background-color: white;
    display: inline-block
}

#left{
    width: 50%;
    height: 100%;
    float: left;
}

#right{
    width: 50%;
    height: 100%;
    float: left;
}

#left > h4{
    margin-top: 8%;
    margin-left: 2%;
}

#right > h4{
    margin-top: 8%;
    margin-left: 2%;
}

#content ul {
    height: 20%;
}