html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:#ADD8E6;
}

#title{
    width: 100%;
    height: 10%;
    background-color: #ADD8E6;
}

#title > h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

#container{
    width: 100%;
    height:90%;
    background-color:#ADD8E6;
    
}

#divUser{
    width: 25%;
    height: 80%;
    float: left;
    margin-left: 7.5%;
    margin-top: 2.5%;
    background-color: rgba(3, 53, 62,0.7);
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
}

#divCurso{
    width: 25%;
    height: 80%;
    float: left;
    margin-left: 5%;
    margin-top: 2.5%;
    background-color: rgba(3, 53, 62,0.7);
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
}

#divCadeira{
    width: 25%;
    height: 80%;
    float: left;
    margin-left: 5%;
    margin-top: 2.5%;
    background-color: rgba(3, 53, 62,0.7);
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
}

#divSala{
    width: 25%;
    height: 80%;
    float: left;
    margin-left: 7.5%;
    margin-top: 2.5%;
    margin-bottom: 2%;
    background-color: rgba(3, 53, 62,0.7);
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
}

#divUser:hover{
    background-color: #03353E;
    cursor: pointer;
}

#divCurso:hover{
    background-color: #03353E;
    cursor: pointer;
}

#divCadeira:hover{
    background-color: #03353E;
    cursor: pointer;
}

#divSala:hover{
    background-color: #03353E;
    cursor: pointer;
}

.image{
    width: 100%;
    height: 80%;
}

.text{
    width: 100%;
    height: 20%;
}

.image > img{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 12%;
}

.text > h2{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 60px;
}