#leftContent{
    width: 50%;
    height: 100%;
    float: left;
}

#rightContent{
    width: 50%;
    height: 100%;
    float: left;
}

#filtrar{
    width: 90%;
    height: 5%;
    margin-left: 5%;
    margin-top: 5%;

}

#view{
    width: 90%;
    height: 85%;
    margin-left: 5%;
    background-color: white;
    display: inline-block
}

#view1{
    width: 90%;
    height: 62%;
    margin-left: 5%;
    background-color: white;
    display: inline-block
}

#filtrar > h3{
    float: left;
    margin-left: 5%;
}

#filtrar > select{
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;
}

#view1 > h2{
    margin-top: 4%;
    margin-left: 2%;
}

#filtrar > h2{
    text-align: center;
}

#operacoesUtilizador {
    background-color: white;
    width: 90%;
    height: 23%;
    margin-left: 5%;
    border-top: 25px solid #EDF0F5;
}

#operacoesUtilizador h4 {
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
}

#operacoesUtilizador label {
    margin-left: 2%;
}

#operacoesUtilizador button {
    margin-left: 2%;
    margin-bottom: 2%;
}

#operacoesUtilizador .form-group {
    display: inline;
} 

#operacoesUtilizador button {
    width: 50%;
    margin-left: 25%;
}

#label1{
    display: flex;
    margin-right: 2%;
}

#label2{
    margin-top: 3%;
    display: flex;
    margin-right: 2%;
}


/* Mobile device */
@media only screen and (max-device-width: 480px) {
    #leftContent{
        width: 100%;
        height: 50%;
    }

    #view{
        margin-top: 11%;
    }

    #view1{
        margin-top: 11% !important;
        height: 150%;
    }

    #rightContent{
        width: 100%;
        height: 50%;
        margin-top: 12%;
    }
    
    #operacoesUtilizador {
        height: 60%;
        margin-bottom: 4%;
    }

    #searchBar{
        margin-left: 5%;
    }
}

@media only screen and (max-width: 1200px) {
    #label1{
        height: 20%;
        font-size: 10px;
    }
    
    #label2{
        height: 20%;
        font-size: 10px;
    }

    #filtrar > h1{
        font-size:30px;
    }

    #operacoesUtilizador > h4{
        font-size: 10px;
    }

    #operacoesUtilizador button {
        width: 50%;
        margin-left: 25%;
        font-size: 5px;
    }
}