#leftContent{
    width: 50%;
    height: 100%;
    float: left;
}

#rightContent{
    width: 50%;
    height: 100%;
    float: left;
}

#filtrar{
    width: 90%;
    height: 5%;
    margin-left: 5%;
    margin-top: 5%;

}

#view{
    width: 90%;
    height: 85%;
    margin-left: 5%;
    background-color: white;
    display: inline-block
}

#view1{
    width: 90%;
    height: 30%;
    margin-left: 5%;
    background-color: white;
    display: inline-block;
}

.this{
    display: flex;
    width: 98%;
    margin-left: 1%;
    background-color: rgba(3, 53, 62,0.5);
    padding: 10px 20px;
    margin-top: 1%;
    color: #fff;
    transition: 0.5s;
}

.this:hover{
    transform: scaleY(1.20);
    background-color: rgba(3, 53, 62,1);
    cursor: pointer;
}

#view1 > h2{
    margin-top: 4%;
    margin-left: 2%;
}

#filtrar > h2{
    text-align: center;
}


/* Mobile device */
@media only screen and (max-device-width: 480px) {
    #leftContent{
        width: 100%;
        height: 50%;
    }

    #rightContent{
        width: 100%;
        height: 50%;
        margin-top: 10%;
    }

    #view{
        margin-top:5%;
    }
}