#leftContent{
    width: 50%;
    height: 100%;
    float: left;
}

#rightContent{
    width: 50%;
    height: 100%;
    float: left;
}

#filtrar{
    width: 90%;
    height: 5%;
    margin-left: 5%;
    margin-top: 5%;

}

#view{
    width: 90%;
    height: 85%;
    margin-left: 5%;
    background-color: white;
    display: inline-block
}

#view1{
    width: 90%;
    height: 33%;
    margin-left: 5%;
    background-color: white;
    display: inline-block;
}

#view1 > h2{
    margin-top: 4%;
    margin-left: 2%;
}

#filtrar > h3{
    float: left;
    margin-left: 3%;
}

#view1 button {
    margin-top: 0;
}

#searchBar {
    float: left; 
}

#viewCurso{
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: white;
    display: inline-block;
}

#viewCurso > h3{
    margin-top: 4%;
    margin-left: 2%;
}

#viewCurso > ul{
    height: 50%;
    overflow: auto;
}

#viewCurso > ul > li{
    display: flex;
    width: 96%;
    margin-left: 2%;
    background-color: rgba(3, 53, 62,0.5);
    padding: 10px 20px;
    margin-top: 1%;
    color: #fff;
    transition: 0.5s;
}

label{
    margin-left: 2%;
    margin-top: 2%;
    font-size: 30px;
}

.form-group > input{
    width: 96%;
    margin-left: 2%;
}

.btn{
    width: 50%;
    margin-top: 6%;
    margin-left: 25%;
}