#leftContent{
    width: 50%;
    height: 100%;
    float: left;
}

#rightContent{
    width: 50%;
    height: 100%;
    float: left;
}

#filtrar{
    width: 90%;
    height: 5%;
    margin-left: 5%;
    margin-top: 5%;

}

#view{
    width: 90%;
    height: 85%;
    margin-left: 5%;
    background-color: white;
    display: inline-block
}

#view1{
    width: 90%;
    height: 50%;
    margin-left: 5%;
    background-color: white;
    display: inline-block
}

#filtrar > h3{
    float: left;
    margin-left: 5%;
}

#filtrar > select{
    float: left;
    margin-left: 1%;
    margin-top: 1.5%;
}

#view1 > h2{
    margin-top: 4%;
    margin-left: 2%;
}

#filtrar > h2{
    text-align: center;
}

#filtrar > h2:last-child

#operacoesUtilizador {
    background-color: white;
    width: 90%;
    margin-left: 5%;
    border-top: 25px solid #EDF0F5;
}

#operacoesUtilizador h4 {
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
}

#operacoesUtilizador label {
    margin-left: 2%;
}

#operacoesUtilizador button {
    margin-left: 2%;
    margin-bottom: 2%;
}

#operacoesUtilizador .form-group {
    display: inline;
} 

#operacoesUtilizador button {
    margin-top: 1.5%;
}