#content ul {
    height: 20%;
}

#horario {
    height: 50%;
    width: 95%;
    margin: 0 auto 1.2% auto;
    text-align: center;
    border: 1px solid black;
    font-size: 16px;
    background-color: lightgrey;
}

#horario tr {
    border: 1px solid black;
}

#horario th {
    border: 1px solid black;
    padding: 2px;
    background-color: grey;
}

#horario td {
    border: 1px solid black;
    padding: 2px;
}

#content > h1:first-child {
    text-align: center;
}

#title1{
    margin-top: 1%;
    width: 7%;
    height: 5%;
    background-color: #03353E;
    color: white;
    margin-left: 2.5%;
    text-align: center;
}

#title1 > h2{
    margin: 0;
    padding: 0;
}

#div1{
    width: 50%;
    height: 22%;
    margin-left: 2.5%;
    background-color: white;
    float: left;
    border: 2px solid grey;
}

#div2{
    width: 43%;
    height: 22%;
    margin-left: 2%;
    background-color: white;
    float: left;
    border: 2px solid grey;
}

#div1 ul, #div2 ul{
    list-style-type: none;
    font-size: 25px;
    margin-top: 1%;
    margin-left: 1%;
}