#title3{
    margin-top: 1%;
    width: 20%;
    height: 7%;
    background-color: #03353E;
    color: white;
    margin-left: 1%;
    text-align: center;
    margin-bottom: 0%;
    padding-top: 0.7%;
}

#cont {
    width: 98%;
    height: 55%;
    background-color: white;
    margin-left: 1%;
}

label {
    width: 98%;
    font-size: 20px;
}
select {
    float: left;
}

.form-group{
    margin-left: 2%;
}


textarea{
    width: 98%;
}

form > button{
    width: 50%;
    margin-left: 25%;
}

.btn {
    font-size: 25px !important;
}

/* Mobile device */
@media only screen and (max-device-width: 480px) {
    #title3{
        width: 80%;
        margin-top: 4%;
    }

    #cont {
        height: 80%;
        width: 97%;
    }
}