#cadeiraInfo {
    margin-top: 1%;
    margin-left: 2.5%;
    width: 85%;
    height: 5%;
}

#cadeiraInfo > h2:first-child {
    float: left;
}

#cadeiraInfo > h2:nth-child(2) {
    float: right;
    margin-right: 33.5%;
}

#leftContent {
    width: 45%;
    height: 90%;
    margin-top: 2.3%;
}

#rightContent {
    width: 45%;
    height: 90%;
    margin-top: 2.3%;
}

#view {
    height: 95%;
}

#theCadeira {
    margin-top: 0;
    height: 9%;
}

#theCadeira h4{
    margin-top: 3%;
}

#view1 {
    height: 65%;
}

#view1 > div:first-child {
    height: 73%;
}

#view1 > div:first-child .this{
    margin-top: 0;
}

#view1 > div:last-child {
    border-top: 6px solid #EDF0F5;
    border-bottom: 6px solid #EDF0F5;
    height: 27%
}

#view1 > div:last-child > a {
    margin-top: 5%;
    display: none;
}

#criarTurma {
    width: 90%;
    height: 30.5%;
    margin-left: 5%;
    background-color: white;
}

#criarTurma .form-group {
    margin-bottom: 0;
}

#criarTurma h4 {
    margin-left: 2%;
}

#criarTurma .form-group:nth-child(3), #criarTurma .form-group:nth-child(4) {
    display: inline;
}

#inscreverTurmaButton #paginaTurmaButton #fecharTurmaButton {
    margin-top: 5%;
}

#fecharTurmaButton {
    color: white;
    cursor: pointer;
}