#filtrar{
    width: 90%;
    height: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.firstText{
    padding-top: 1%;
    
}

#view{
    width: 90%;
    height: 60% !important;
    margin-left: 5%;
    background-color: white;
    display: inline-block;
    overflow-y:scroll;
}
.noScroll{
    margin-top: 1%;
    height: 80% !important;
    overflow: hidden !important;
}

.noScroll >h3{
    text-align: center;
}

.form-group > label{
    margin-left: 2%;
}

.form-group > input{
    width: 96%;
    margin-left: 2%;
}

.noScroll > form> button{
    width: 40%;
    margin-left: 30%;
    margin-top: 1%;
}

#upperContent{
    width: 100%;
    height: 50%;
}

<<<<<<< HEAD
/* Mobile device */
@media only screen and (max-device-width: 480px) {
    #view{
        margin-top: 12%;
    }
=======
.horas {
    display: inline;
>>>>>>> f15ec3c6f8239e180130da608b8882595a9f9dee
}