#divCoord{
    width: 41.5%;
    height: 40%;
    margin-left: 2.5%;
    margin-top: 4%;
    background-color: white;
    float: left;
}

#divMinhasTurmas{
    width: 51.5%;
    height: 40%;
    margin-top: 4%;
    margin-left: 2%;
    background-color: white;
    float: left;
}

#pedidosTurma{
    width: 45%;
    height: 20%;
    margin-left: 2.5%;
    margin-top: 0.5%;
    background-color: white;
    float: left;
    margin-bottom: 0.5%;
}

#avisos {
    width: 45%;
    height: 20%;
    margin-right: 2.5%;
    margin-top: 0.5%;
    background-color: white;
    float: right;
    margin-bottom: 0.5%;
    overflow: auto;
}

#reservarSala{
    width: 32.5%;
    height: 40%;
    margin-left: 2.5%;
    margin-top: 2%;
    background-color: white;
    float: left;
    margin-bottom: 2%;
}

.this{
    display: flex;
    width: 98%;
    margin-left: 1%;
    background-color: rgba(3, 53, 62,0.5);
    padding: 10px 20px;
    margin-top: 1%;
    color: #fff;
    transition: 0.5s;
    list-style-type: none;
}

.this1{
    display: flex;
    width: 98%;
    margin-left: 1%;
    background-color: rgba(3, 53, 62,0.5);
    padding: 10px 20px;
    margin-top: 1%;
    color: #fff;
    transition: 0.5s;
    list-style-type: none;
    font-size: 20px;
}

.this:hover{
    transform: scaleY(1.20);
    background-color: rgba(3, 53, 62,1);
    cursor: pointer;
    text-decoration: none;
    color: white;
}


#horario {
    height: 50%;
    width: 95%;
    margin: 0 auto 1.2% auto;
    text-align: center;
    border: 1px solid black;
    font-size: 16px;
    background-color: lightgrey;
}

#horario tr {
    border: 1px solid black;
}

#horario th {
    border: 1px solid black;
    padding: 2px;
    background-color: grey;
}

#horario td {
    border: 1px solid black;
    padding: 2px;
}

#content > h1:first-child {
    text-align: center;
}

#title1{
    margin-top: 1%;
    width: 7%;
    height: 5%;
    background-color: #03353E;
    color: white;
    margin-left: 2.5%;
    text-align: center;
}

#title1 > h2{
    margin: 0;
    padding: 0;
}

/* Mobile device */
@media only screen and (max-device-width: 480px) {
    #title1{
        width: 23%;
    }

    #pedidosTurma{
        height: 40%;
    }
}

/* Mobile device */
@media only screen and (max-width: 780px) {
    #title1{
        width: 23%;
    }

    #pedidosTurma{
        height: 40%;
    }
}
