#theCadeira {
    height: 5%;
    margin-top: 11.5%;
}

#theCadeira h4 {
    margin-top: 3%;
}

#view1 {
    height: 55%;
}

#view1 div:first-child {
    border-bottom: 6px solid #EDF0F5;
    height: 89%;
}

#view1 div:last-child {
    display: none;
}

#view1 h4 {
    margin-top: 1%;
    margin-left: 1%;
}

#view1 div:last-child {
    display: block;
}

#view1 > div:last-child > a {
    color: white !important;
    display: none;
}