span {
    font-weight: bold;
}

#filtrar{
    width: 90%;
    height: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.firstText{
    padding-top: 1%;
    
}

#view{
    width: 90%;
    height: 100% !important;
    margin-left: 5%;
    background-color: white;
    display: inline-block;
    overflow-y:scroll;
}
.noScroll{
    margin-top: 1%;
    height: 80% !important;
    overflow: hidden !important;
}

#upperContent{
    width: 100%;
    height: 80%;
}