html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
    width: 100%;
    height: 13%;
    background-color: #A79C93;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

#logo{
    width: 25%;
    height: 7em;
    float: left;
    background-color: #03353E;
}

#logo > img{
    width: 50%;
    height: 80%;
    margin-top: 2.5%;
    margin-left: 7%;
}

#divLogout{
    width: 75%;
    height: 7em;
    float: left;
    background-color: #03353E;
}

#space{
    width: 60%;
    height: 100%;
    float: left;
    background-color:#03353E;
}

#nameUser{
    width: 20%;
    height: 100%;
    float: left;
    background-color: #03353E;
    color: white;

}

#nameUser > h3{
    text-align: center;
    margin: 0;
    margin-top: 5%;
}

#nameUser > h5{
    text-align: center;
    margin: 0;
    font-size: 50px;
}

#logoutDiv{
    width: 20%;
    height: 100%;
    float: left;
    background-color: #03353E;  
}

#linkLogout{
    text-decoration: none;
}

#logout{
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-top: 8%;
    text-align: center;
    border: 2px solid #0294a5;
    font-size: 40px;
    text-decoration: none;
    color: white;
    transition: all .3s ease-out;
}

#logout:hover{
    background-color: rgba(2, 148, 165, 0.2);
    transition: all .3s ease-out;
}

#cont{
    width: 100%;
    height: 87%;
    background-color: red;
    margin: 0;
}

.button >img {
    width: 25px;
    border-radius: 50px;
    float: left;
  }
  
  .logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
      position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    text-decoration: none;
    list-style: none;
    color: white;

    
  }
  
  .button {
    text-decoration: none;
    float: left;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 60px;
    margin-left: 35%;
    margin-top: 10%;
    border: 4px solid white;
    background-color: #03353E;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    list-style: none;
    color: white;

  }
  
  #logoutDiv > a:hover {
    width: 150px;
    text-decoration: none;
  }
  
  #logoutDiv > a:hover .logout{
    opacity: .9;
  }
  
  a {
    text-decoration: none;
  }

  .navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #03353E;
    border-right: 2px solid white;
  }

  