html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:red;
}

#container{
    width: 100%;
    height: 100%;
    background-color: #EDF0F5;
}

#navbar{
    width: 15%;
    height: 100%;
    float: left;
    background-color: #03353E;
    font-family: 'Open Sans Condensed', sans-serif;
    position: fixed;
}

#title{
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: white;
    color: rgb(3, 53, 62);
    display: inline-block;
    font-family: 'Tulpen One', cursive;
    cursor: default;
}

#title > h2{
    margin-top:2%;
    font-size: 70px;
}

ul{
    padding: 0;
}

ul#nav{
    padding: 0;
    height: 79%;
    overflow-y: scroll;
}

ul::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #03353E;
}

ul::-webkit-scrollbar
{
	width: 6px;
    background-color: #03353E;
}

ul::-webkit-scrollbar-thumb
{
    background-color: grey;
}


.navv {
    width: 90%;
    padding: 6%;
    text-decoration: none;
    color: white;
    list-style-type:none;
    margin: 0;
    background-color: #03353E;
    opacity: 0.3;
    margin-left: 5%;
    font-size: 30px;
    margin-top: 1%;
}

ul > .navv {
    text-align: center;
    font-size: 32px;
    background-color: #03353E;
}

#nameNavbar{
    opacity: 1;
}

ul .navv:hover:not(#nameNavbar) {
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

ul .navv{
    background-color: #03353E;
}

a:link, a:visited, a:hover{
    text-decoration: none;
    
}


.material-icons{
    margin-right: 2%;
}

#logout{
    width: 90%;
    height: 7%;
    margin-left: 5%;
    
    background-color: rgb(3, 53, 62);
    color: white;
    opacity: 0.3;
    display: inline-block;
    padding: 9px; 
}

#logout:hover{
    opacity: 1;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#logout > h2{
    margin-top:2%;
    font-size: 30px;
    margin-left: 7%;
}

#content{
    width: 85%;
    height: 100%;
    float: left;
    background-color: #EDF0F5;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 15%;
}

#divsTotal{
    width: 100%;
    height: 30%;
    background-color: #EDF0F5;
}

#divsOther{
    width: 100%;
    height: 70%;
    background-color: #EDF0F5;
}

#divTotalUsers{
    width: 31%;
    height: 45%;
    float: left;
    margin-left: 3%;
    margin-top: 4%;
    background-color: #ffffff;
}

#divTotalCursos{
    width: 31%;
    height: 45%;
    float: left;
    margin-top: 4%;
    margin-left: 0.5%;
    background-color: #ffffff;
}

#divTotalCadeiras{
    width: 31%;
    height: 45%;
    float: left;
    margin-top: 4%;
    margin-left: 0.5%;
    background-color: #ffffff;
}

.icon{
    width: 25%;
    height: 100%;
    float: left;
}

.icon > img{
    width: 50%;
    height: 50%;
    margin-left: 30%;
    margin-top: 22%;
}

.text{
    width: 60%;
    height: 100%;
    float: left;

}

.number{
    width: 15%;
    height: 100%;
    float: left;
    
}

.text > h2{
    color: rgb(3, 53, 62);
    margin-top: 12%;
}

.number > h2{
    margin-top: 45%;
    font-weight: bold;
    font-size: 40px;
}

#divTotalSalas{
    width: 80%;
    height: 50%;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
}

#pedidos{
    float: left;
    width: 40%;
    height: 100%;
    background-color: white;
}

#reservas{
    float: right;
    width: 40%;
    height: 100%;
    background-color: white;
}

.header{
    width: 100%;
    height: 30%;
}

.contai{
    width: 100%;
    height: 70%;
}

.iconn{
    width: 20%;
    height: 100%;
    float: left;
}

.tit{
    width: 80%;
    height: 100%;
    float: left;
}

.tit > h4{
    margin-top: 6%;
}

.iconn > img{
    width: 45%;
    height: 50%;
    margin-left: 27.5%;
    margin-top: 20%;
}

.contai1{
    width: 100%;
    height: 50%;
}

.hiperCont{
    width: 100%;
    height: 20%;
}

.contai > h2 {
    font-size: 60px;
    text-align: center;
    padding: 10%;
}

.contai1 > h2 {
    font-size: 60px;
    text-align: center;
    padding: 6%;
}

#buttonIr{
    width: 20%;
    height: 80%;
    margin-left: 75%;
    background-color: rgb(3, 53, 62);;
}

#navbar a {
    text-decoration: none;
    color: white;
} 

.this{
    display: flex;
    width: 98%;
    margin-left: 1%;
    background-color: rgba(3, 53, 62,0.5);
    padding: 10px 20px;
    margin-top: 1%;
    color: #fff;
    transition: 0.5s;
    list-style-type: none;
    font-size: 25px;
}

.this:hover{
    transform: scaleY(1.20);
    background-color: rgba(3, 53, 62,1);
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.this a, .this a:hover {
    color: white;
    text-decoration: none;
}

.ss-main .ss-single-selected {
    padding: 0 0 0 6px !important;
    height: 39px !important;
}

#searchBar {
    margin-left: 1%;
    margin-top: 0.8%;
}

html{
    background-color: #EDF0F5;
}

.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    width: 20%;
    height: 10%;
    background-color: #03353E;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

#iconMenu{
    font-size: 65px;
    margin-left: 11%;
    margin-top: 6%;
}

/* Mobile and Tablet device */
@media only screen and (max-device-width: 780px) {
    #navbar{
        width: 100%;
        background-color: transparent;
        transition: 0.2s;

    }

    #title{
        width: 80%;
        height: 10%;
        text-align: center;
        background-color: white;
        color: rgb(3, 53, 62);
        display: inline-block;
        font-family: 'Tulpen One', cursive;
        cursor: default;
    }
    
    #title > h2{
        font-size: 60px;
    }

    .menu-toggle{
        display: block;
    }

    #navbar #nav {
        display: none;
        transition: 0.2s;
    }

    #logout{
        display: none;
        transition: 0.2s;
    }

    #content{
        width: 101%;
        margin-left: 0;
        margin-top: 19%;
    }

    #divsTotal {
        width: 118%;
        height: 48%;
    }

    #divTotalUsers{
        width: 80%;
        margin-left: 10%;
    }

    #divTotalCursos{
        width: 80%;
        margin-left: 10%;
    }

    #divTotalCadeiras{
        width: 80%;
        margin-left: 10%;
    }

    #divTotalSalas{
        width: 100%;
    }

    #reservas {
        float: right;
        width: 95%;
        height: 100%;
        margin-right: 3%;
    }

    #pedidos {
        float: left;
        width: 95%;
        height: 100%;
        margin-left: 2%;
        margin-top: 5%;
        margin-bottom: 2%;
    }  

    .contai > h2{
        font-size: 46px;
    }

    .contai1 > h2{
        font-size: 46px;
    }
    
}
