html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url("/img/fcul2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;s
}

body{
    background-color: transparent !important;
}

#login{
    width: 20%; 
    margin-top:10%;
    border-radius: 2%;
    padding-top: 1% !important;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    font: 11px Verdana, Arial, Helvetica, sans-serif;
    background-color: white !important;
}

#login > img {
    width: 80%;
    height: 40%;
    margin-left: 10%;
    padding-bottom: 8%;
}

button{
    width: 100%;
    background-color: rgb(12, 77, 162) !important;
    border-color: #0C4DA2 !important;
    transition: 0.5s;
}
button:hover{
    background: rgb(6, 41, 87) !important;
    border-color: rgb(6, 41, 87) !important;
    transition: 0.5s;
}